# Credit Card Fraud Detection

## Import library

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

## Read the dataset

In [3]:
credit = pd.read_csv("C:\\Users\PREET PAUL\Desktop\Presidency University M.Sc. Notes\Codsoft\creditcard.csv")
credit

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

## Finding Missing values

In [4]:
credit.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

* Hence, there is no missing values present in the dataset

In [5]:
credit.shape

(284807, 31)

In [6]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [15]:
credit['Class'] = credit['Class'].astype(str)

In [17]:
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  object
dtypes: float64(30), object(1)
memory usage: 67.4+ MB

## Data separation as X and Y

In [21]:
Y = credit["Class"]
Y

0         0
1         0
2         0
3         0
4         0
         ..
284802    0
284803    0
284804    0
284805    0
284806    0
Name: Class, Length: 284807, dtype: object

In [22]:
X = credit.drop('Class', axis=1)
X

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,0.251412,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.069083,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.524980,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.208038,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,0.408542,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,1.475829,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.059616,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.001396,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.127434,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.382948,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00

## Data splitting

In [23]:
# Split the dataset into training set and test set

X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size=0.2)

### Import Library

In [33]:
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix

## Build Classification Model using Random Forest

In [24]:
rf = RandomForestClassifier()

In [25]:
rf.fit(X,Y)

RandomForestClassifier()

### Feature Importance

In [26]:
print(rf.feature_importances_)

[0.01320503 0.01491152 0.01473911 0.01641958 0.03359427 0.00826032
 0.01480172 0.02417433 0.01276967 0.03829144 0.08098187 0.04823168
 0.10381287 0.01117608 0.13623522 0.01236399 0.07845919 0.16187549
 0.03818855 0.01208655 0.01200963 0.02245902 0.01000147 0.00852918
 0.00948362 0.00757764 0.01970218 0.01489911 0.00938885 0.01137081]

### Data split (80/20 ratio)

In [27]:
X_train.shape, Y_train.shape

((227845, 30), (227845,))

In [28]:
X_test.shape, Y_test.shape

((56962, 30), (56962,))

## Rebuild the Random Forest model

In [29]:
rf.fit(X_train,Y_train)

RandomForestClassifier()

### Model Performance

In [30]:
print(rf.score(X_test,Y_test))

0.999385555282469

In [57]:
Y_pred = rf.predict(X_test)

#### Display the confusion matrix

In [59]:
# Show the confusion matrix

print(confusion_matrix(Y_test, Y_pred))

[[56846     7]
 [   28    81]]

#### Classification report

In [58]:
print(classification_report(Y_pred, Y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56874
           1       0.74      0.92      0.82        88

    accuracy                           1.00     56962
   macro avg       0.87      0.96      0.91     56962
weighted avg       1.00      1.00      1.00     56962

#####  Hence, from the model performance of the given RandomForest model, we clearly see that more than 99% of the data fitted perf0ectly in the test set

## Building Classification model using Logistic Regression

### Using Logistic Regression()

In [37]:
# Create Logistic Regression object

lr = LogisticRegression()

#### Fitting the model in the training set

In [38]:
# Perform Logistic Regression

lr.fit(X_train, Y_train)

c:\users\preet paul\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [43]:
# Show the Coefficients and Intercept

print("Coefficients of the fitted Logistic Regression model: ",lr.coef_)
print("Intercept of the fitted Logistic Regression model: ",lr.intercept_)

Coefficients of the fitted Logistic Regression model:  [[-8.18089224e-05  3.76828130e-01 -5.94484089e-01 -5.42690942e-01
   1.39596402e-01  1.49409856e-01 -7.71554510e-02  2.41925078e-01
  -3.09058533e-01 -4.17986360e-01 -2.60873820e-01 -1.42365558e-01
  -1.86246510e-02 -3.10856170e-01 -7.98793541e-01 -2.89231521e-01
  -3.29631211e-01 -5.78520567e-01 -4.83366967e-02  6.13857459e-02
   4.99841188e-02  1.93426118e-01  2.52185334e-01  5.53857142e-02
  -1.61445457e-02 -2.34569323e-01  3.90075997e-02 -5.39907966e-02
   5.87190171e-02 -1.09507005e-02]]
Intercept of the fitted Logistic Regression model:  [-1.1662363]

#### Make Prediction using the model

In [52]:
# Perform prediction using the test set

Y_pred1 = lr.predict(X_test)

#### Display the confusion matrix

In [53]:
# Show the confusion matrix

print(confusion_matrix(Y_test, Y_pred1))

[[56835    18]
 [   48    61]]

#### Import library

In [54]:
from sklearn.metrics import accuracy_score, classification_report

#### Accuracy score

In [55]:
score = accuracy_score(Y_pred1, Y_test)
print(score)

0.9988413328183702

* Similar to the RandomForest model, logistic regression model also has more than 99% accuracy in predicting the test set

#### Classification report

In [56]:
print(classification_report(Y_pred1, Y_test))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00     56883
           1       0.56      0.77      0.65        79

    accuracy                           1.00     56962
   macro avg       0.78      0.89      0.82     56962
weighted avg       1.00      1.00      1.00     56962